
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block narrow_content %}
    <div class="page-header">
        <h1>&lt;/YeTi OJ&gt;</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>
            New to here? <a href="{{ url_for('auth.register') }}">Click here to register</a>
        </p>
    </div>
{% endblock %}

{#{% block page_script %}#}
{#<script src="{{ url_for('static', filename='js/particles.js') }}"></script>#}
{#<script>#}
{#particlesJS("particles-js", {#}
{#    "particles": {#}
{#        "number": {#}
{#            "value": 80,#}
{#            "density": {#}
{#                "enable": true,#}
{#                "value_area": 800#}
{#            }#}
{#        },#}
{#        "color": {#}
{#            "value": "#ffffff"#}
{#        },#}
{#        "shape": {#}
{#            "type": "circle",#}
{#            "stroke": {#}
{#                "width": 0,#}
{#                "color": "#000000"#}
{#            },#}
{#            "polygon": {#}
{#                "nb_sides": 5#}
{#            },#}
{#            "image": {#}
{#                "src": "img/github.svg",#}
{#                "width": 100,#}
{#                "height": 100#}
{#            }#}
{#        },#}
{#        "opacity": {#}
{#            "value": 0.5,#}
{#            "random": false,#}
{#            "anim": {#}
{#                "enable": false,#}
{#                "speed": 1,#}
{#                "opacity_min": 0.1,#}
{#                "sync": false#}
{#            }#}
{#        },#}
{#        "size": {#}
{#            "value": 10,#}
{#            "random": true,#}
{#            "anim": {#}
{#                "enable": false,#}
{#                "speed": 80,#}
{#                "size_min": 0.1,#}
{#                "sync": false#}
{#            }#}
{#        },#}
{#        "line_linked": {#}
{#            "enable": true,#}
{#            "distance": 300,#}
{#            "color": "#ffffff",#}
{#            "opacity": 0.4,#}
{#            "width": 2#}
{#        },#}
{#        "move": {#}
{#            "enable": true,#}
{#            "speed": 12,#}
{#            "direction": "none",#}
{#            "random": false,#}
{#            "straight": false,#}
{#            "out_mode": "out",#}
{#            "bounce": false,#}
{#            "attract": {#}
{#                "enable": false,#}
{#                "rotateX": 600,#}
{#                "rotateY": 1200#}
{#            }#}
{#        }#}
{#    },#}
{#    "interactivity": {#}
{#        "detect_on": "canvas",#}
{#        "events": {#}
{#            "onhover": {#}
{#                "enable": false,#}
{#                "mode": "repulse"#}
{#            },#}
{#            "onclick": {#}
{#                "enable": true,#}
{#                "mode": "push"#}
{#            },#}
{#            "resize": true#}
{#        },#}
{#        "modes": {#}
{#            "grab": {#}
{#                "distance": 800,#}
{#                "line_linked": {#}
{#                    "opacity": 1#}
{#                }#}
{#            },#}
{#            "bubble": {#}
{#                "distance": 800,#}
{#                "size": 80,#}
{#                "duration": 2,#}
{#                "opacity": 0.8,#}
{#                "speed": 3#}
{#            },#}
{#            "repulse": {#}
{#                "distance": 400,#}
{#                "duration": 0.4#}
{#            },#}
{#            "push": {#}
{#                "particles_nb": 4#}
{#            },#}
{#            "remove": {#}
{#                "particles_nb": 2#}
{#            }#}
{#        }#}
{#    },#}
{#    "retina_detect": true#}
{#});#}
{#</script>#}
{#{% endblock %}#}