{% extends "base.html" %}

{% block title %}Create Snippet{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
{% endblock %}

{% block narrow_content %}
    <div class="row">
        <div class="col-md-10">
            <div class="row" style="height: 92vh">
<div id="snippet-section" style="height: 100%">{{ snippet_code }}</div>
            </div>
        </div>
        <div class="col-md-2">
            {% if current_user.is_authenticated %}
                <form id="snippet-form" method="POST">
                    <label style="font-size:15px">Snippet Group</label>
                    <input id="snippet-group" name="group" type="text" class="form-control">
                    <label style="font-size:15px">Snippet Scenario Name</label>
                    <input id="snippet-scenario" name="scenario" type="text" class="form-control">
                    <br>
                    <button class="btn btn-info" name="create" id="create-snippet">Create Snippet</button>
                </form>
            {% endif %}
            <br>
            <label for="syntax">Syntax</label>
            <select class="selectpicker" id="syntax" data-width="75%">
                <option value="python" selected="selected">Python</option>
                <option value="html">HTML</option>
            </select>

            <label for="theme">Theme</label>
            <select class="selectpicker" id="theme" data-width="75%">
                <optgroup label="Bright">
                    <option value="github">GitHub</option>
                    <option value="solarized_light">Solarized Light</option>
                    <option value="xcode">XCode</option>
                </optgroup>
                <optgroup label="Dark">
                    <option value="chaos" selected="selected">Chaos</option>
                    <option value="monokai">Monokai</option>
                    <option value="pastel_on_dark">Pastel on Dark</option>
                    <option value="solarized_dark">Solarized Dark</option>
                </optgroup>
            </select>

            <label for="font-family">Font Family</label>
            <select class="selectpicker" id="font-family" data-width="75%">
                <option value="arial">Arial</option>
                <option value="consolas" selected="selected">Consolas</option>
                <option value="courier">Courier</option>
            </select>

            <label for="font-size">Font Size</label>
            <select class="selectpicker" id="font-size" data-width="75%">
                <option>12</option>
                <option>14</option>
                <option>16</option>
                <option>18</option>
                <option selected="selected">20</option>
                <option>22</option>
                <option>24</option>
                <option>28</option>
                <option>34</option>
                <option>40</option>
            </select>

            <div class="checkbox">
                <label><input id="show-invisibles" type="checkbox" value="" checked="checked">&nbsp&nbspShow Invisibles</label>
            </div>
            <div class="checkbox">
                <label><input id="wrap-text" type="checkbox" value="" checked="checked">&nbsp&nbspWrap Text</label>
            </div>

        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        var show_invisibles = true;
        var wrap_text = true;
        var initial_syntax = $('#syntax option:selected').val();
        var initial_theme = $('#theme option:selected').val();
        var initial_font_size = $('#font-size option:selected').val();
        var initial_font_family = $('#font-family option:selected').val();
        var code_section = ace.edit("snippet-section");
        code_section.setTheme("ace/theme/" + initial_theme);
        code_section.session.setMode("ace/mode/" + initial_syntax);
        code_section.setOption("showInvisibles", show_invisibles);
        code_section.setOption("fontFamily", initial_font_family);
        code_section.setOption("fontSize", parseInt(initial_font_size));
        code_section.getSession().setUseWrapMode(wrap_text);
        code_section.setShowPrintMargin(false);

        // syntax dropdown
        $('#syntax').on('change', function(){
            code_section.session.setMode("ace/mode/" + $('#syntax').val());
        });
        // theme dropdown
        $('#theme').on('change', function(){
            code_section.setTheme("ace/theme/" + $('#theme').val());
        });
        // font dropdown
        $('#font-family').on('change', function(){
            code_section.setOption("fontFamily", $('#font-family').val());
        });
        // dont size dropdown
        $('#font-size').on('change', function(){
            code_section.setOption("fontSize", parseInt($('#font-size').val()));
        });
        // show invisibles tick
        $('#show-invisibles').click(function() {
            show_invisibles = this.checked;
            if(show_invisibles) {
                code_section.setOption("showInvisibles", true);
            }
            else {
                code_section.setOption("showInvisibles", false);
            }
        });
        // wrap text tick
        $('#wrap-text').click(function() {
            wrap_text = this.checked;
            if(wrap_text) {
                code_section.getSession().setUseWrapMode(wrap_text);
            }
            else {
                code_section.getSession().setUseWrapMode(wrap_text);
            }
        });

        $(document).ready(function() {
            function validate(fields) {
                var success = true;
                fields.forEach(function (field) {
                    if (!field.val()) {
                        success = false;
                    }
                });
                return success;
            }

            $('#create-snippet').on('click', function () {
                if (!validate([$('#snippet-group'), $('#snippet-scenario')])) {
                    return false;
                }
                else {
                    $('#snippet-form').attr('action', '/create_snippet');
                    $('<input type="hidden" name="code"/>').val(code_section.getValue()).appendTo('#snippet-form');
                    $("#snippet-form").submit();
                }
            });
        });
    </script>
{% endblock %}