
{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ user_utl.username }}{% endblock %}

{% block narrow_content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <img class="img-thumbnail profile-thumbnail" src="{{ user_utl.gravatar(size=256) }}">
                <div class="profile-header">
                    {% if user_utl.is_administrator() %}
                        <h1>&lt;/ {{ user_utl.username }}&gt;</h1><h4><i>as the Glorious Site Administrator</i></h4>
                    {% elif not user_utl.is_confirmed %}
                        <h1>&lt;/ {{ user_utl.username }}&gt;</h1><h4><i>(Account Unconfirmed)</i></h4>
                    {% else %}
                        <h1>&lt;/ {{ user_utl.username }}&gt;</h1><h4><i>as a very normal user</i></h4>
                    {% endif %}
                    {% if user_utl.name or user_utl.location %}
                    <p>
                        {% if user_utl.name %}
                            <strong>Real Name:</strong> {{ user_utl.name }}
                            <br>
                        {% endif %}
                        {% if user_utl.location %}
                            <strong>From:</strong> <a href="http://maps.google.com/?q={{ user_utl.location }}">{{ user_utl.location }}</a>
                            <br>
                        {% endif %}
                    {% endif %}
                    <p>
                        <strong>Email:</strong> <a href="mailto:{{ user_utl.email }}">{{ user_utl.email }}</a>
                        <br>
                        <strong>Member since</strong> <i>{{ moment(user_utl.member_since).format('L') }}.</i>
                        <br>
                        <strong>Last seen since</strong> <i>{{ moment(user_utl.last_login).fromNow() }}.</i>
                    </p>
                    {% if user_utl.about_me %}
                        <p>
                            <strong>About Me:</strong> {{ user_utl.about_me }}
                        </p>
                    {% endif %}
                    <p>
                        {% if user_utl.id == current_user.id %}
                            <a class="btn btn-success" href="{{ url_for('main.edit_profile') }}">Edit Your Profile</a>
                        {% endif %}
                        {% if current_user.is_administrator() %}
                            <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user_utl.id) }}">Modify Profile (Admin)</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li {% if show_statistics %}class="active"{% endif %}><a href={{ url_for('main.show_statistics', id=user_utl.id) }}>Statistics</a></li>
                <li {% if show_snippet %}class="active"{% endif %}><a href={{ url_for('main.show_snippet', id=user_utl.id) }}>Snippet Management</a></li>
                {% if user_utl.is_administrator() and user_utl.id == current_user.id %}
                    <li {% if show_management %}class="active"{% endif %}><a href="{{ url_for('main.show_management', id=user_utl.id) }}">Database Management</a></li>
                {% endif %}
            </ul>

            {% if show_management %}
                <form id="connect-to-company-form">
                    <label for="syntax" style="font-size:15px">Company</label>
                    <input id="company-name" type="text" class="form-control" value="{{ current_company }}" style="width: 80%">
                    <label for="syntax" style="font-size:15px">XPLAN Username</label>
                    <input id="company-username" type="text" class="form-control" style="width: 80%">
                    <label for="syntax" style="font-size: 15px">XPLAN Password</label>
                    <input id="company-password" type="password" class="form-control" style="width: 80%">
                    <button class="btn btn-warning" id="refresh-database">Refresh Database</button>
                </form>
            {% endif %}



{#            <ul class="posts">#}
{#                {% for post in posts %}#}
{#                <li class="post">#}
{#                    <div class="post-content">#}
{#                        <div class="post-date">{{ moment(post.get('timestamp')).fromNow() }}</div>#}
{#                        <div class="post-author">#}
{#                            <a href="{{ url_for('main.user', id=post.get('author_id')) }}">{{ post.get('author') }}</a>#}
{#                        </div>#}
{#                        <div class="post-body">#}
                            {# 如果 post.body_html 字段存在，还要把 post.body 换成 post.body_html #}
                            {# 渲染 HTML 格式内容时使用 | safe 后缀，其目的是告诉 Jinja2 不要转义 HTML 元素。出于安全考虑默认情况下 Jinja2 会转义所有模板变量 #}
                            {# 因为 body_html 的 HTML 内容是在服务器上生成，因此可以放心渲染#}
{#                            {% if post.get('body_html') %}#}
{#                                {{ post.get('body_html') | safe }}#}
{#                            {% else %}#}
{#                                {{ post.body }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        <div class="post-footer">#}
{#                            {% if current_user.id == post.get('author_id') %}#}
{#                            <a href="{{ url_for('main.edit_post', id=post.get('_id')) }}"><span class="label label-primary">Edit</span></a>#}
{#                            <a href="{{ url_for('main.delete_post', id=post.get('_id')) }}"><span class="label label-warning">Delete</span></a>#}
{#                            {% elif current_user.is_administrator() %}#}
{#                            <a href="{{ url_for('main.delete_post', id=post.get('_id')) }}"><span class="label label-danger">Delete [Admin]</span></a>#}
{#                            {% endif %}#}
{#                            <a href="{{ url_for('main.post', id=post.get('_id')) }}"><span class="label label-default">Permalink</span></a>#}
{#                            {% if current_user.is_confirmed %}#}
{#                            <a href="{{ url_for('main.post', id=post.get('_id')) }}#comments">#}
{#                                <span class="label label-primary">{{ post.get('comments').__len__() }} Comments</span>#}
{#                            </a>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{##}
{##}
{##}
{##}
{#            {% if pagination %}#}
{#                <div class="pagination">#}
{#                    {{ macros.pagination_widget(pagination, 'main.user', id=user_utl.id) }}#}
{#                </div>#}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
    $('#refresh-database').click(function(ev){
        ev.preventDefault();
        function validate(fields) {
            var success = true;
            fields.forEach(function(field) {
                if (!field.val()) {
                    success = false;
                }
            });
            return success;
        }






    });
    </script>
{% endblock %}
