
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
div.crawler-date {
    float: left;
}
div.crawler-button {
    float: right;
}

/*****************************************************************************/
/*#yeti {*/
    /*position: relative;*/
/*}*/

#particles-js {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}

body {
   background: #eaeaea !important;
}

#interface-window {
    border-left: 2px dashed #848383;
}

#interface-title {
    border:none;
}

#interface-tree-list {
    overflow-y: scroll;
}
#interface-window {
    overflow-y: scroll;
}

.modal-content {
    background: #eaeaea;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cc0016;
    margin: 1em 0;
    padding: 0;
    color: #00aa9a;
    background: #0a6aa1;
}

.h1, h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Bookman Old Style";
    color: #009688;
}

.form-group {
    margin: 0 0 0 0;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #3f3f40;
    font-weight: 400;
}

.navbar-brand {
    height: 40px;
    padding: 5px 5px;
}

.navbar .navbar-brand {
    position: relative;
    height: 40px;
    line-height: 30px;
    color: inherit;
}

.navbar .navbar-nav > li > a {
    color: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    position: relative;
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.checkbox label, .radio label, label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #333333;
}

label {
    margin-bottom: 0;
}

.dropdown-header {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

.dropdown-menu li a:hover {
    background-color: #009688;
    color: #f1f1f1;
}

.btn, .input-group-btn .btn {
    text-transform: none;
    padding: 6px 12px 6px 12px;
}

.form-group {
    padding-top: 7px;
    margin: 0 0 0 0;
}

.form-group label.control-label {
    font-size: 16px;
}

.selection-field,
#search-field,
.left-column-title,
#snippet-section,
.left-column-table{
    padding-left: 30px
}

.btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised).btn-default {
    color: #001729;
    background: rgba(209, 209, 209, 0.81);
}
.btn:not(.btn-raised).btn-info, .input-group-btn .btn:not(.btn-raised).btn-info {
    color: #0063c5;
    background: rgba(182, 212, 216, 0.81);
}
.btn:not(.btn-raised).btn-success, .input-group-btn .btn:not(.btn-raised).btn-success {
    color: #00855e;
    background: rgba(183, 212, 213, 0.81);
}
.btn:not(.btn-raised).btn-warning, .input-group-btn .btn:not(.btn-raised).btn--warning {
    color: #cb4200;
    background: rgba(232, 198, 170, 0.81);
}
.btn:not(.btn-raised).btn-danger, .input-group-btn .btn:not(.btn-raised).btn-danger {
    color: #dd0065;
    background: rgba(225, 197, 210, 0.81);
}

.alert.alert-success {
    background-color: #009688;
    color: rgba(255,255,255, 0.84);
}

.table-scroll tbody {
    position: absolute;
    height: 100%;
    font-size: 15px;
}
.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    background: rgb(228, 228, 228);
}

#variable-search-table tr td,
#multi-choice-table tr td {
    padding: 5px;
}

#interface-xplan-table1 tr td,
#interface-xplan-table2 tr td,
#interface-group-table tr td {
    padding: 2px;
    padding-left: 15px;
    font-size: 14px;
}

#interface-xplan-table1-title,
#interface-xplan-table2-title,
#interface-group-table-title {
    font-size:16px;
    font-style:italic;
    color:#009688;
    padding:5px;
    padding-left:5px;
    padding-top: 5px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(168, 168, 168, 0.3);
	background-color: #dddddd;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #343A40;
	border: 2px solid #6b6b6c;
}

.jstree-proton .jstree-anchor {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.jstree-proton .jstree-hovered {
    background: #009688;
}

.jstree-proton .jstree-clicked {
    background: #337ab7;
    color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #337ab7;
    font-size: 18px;
    font-weight: bold;
}
