
{% extends "base.html" %}

{% block title %}YeTi OJ{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jstree/themes/proton/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar_items %}
    {% if current_user.is_authenticated and current_user.is_confirmed%}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family: Centaur;font-size: 20px;">Toolbox<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="format" style="color:#009688">Format Code</a></li>
                    <li><a href="#" id="indent" style="color:#0063c5">Indent</a></li>
                    <li><a href="#" id="dedent" style="color:#0063c5">Dedent</a></li>
                    <li><a href="#" id="setting" data-toggle="modal" data-target=".bs-setting-modal-sm" style="color:#00092c">Editor Settings</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="#" id="judge" style="font-family: Centaur;font-size: 20px;color:#ff6398;">Judge</a></li>
            <li><a href="{{ url_for('main.create_snippet') }}" style="font-family: Centaur;font-size: 20px;">Create Snippet</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block wide_content %}
    <div id="overlay" style="display: none;">
        <div class="loader"></div>
    </div>

    <!-- setting panel -->
    <div id="modal-small" class="modal fade bs-setting-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>Editor Settings</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <br>
                                <label for="syntax">Syntax</label>
                            </div>
                            <div class="row">
                                <select class="selectpicker" id="syntax" data-width="75%">
                                    <option value="python" selected="selected">XPLAN</option>
                                    <option value="html">HTML</option>
                                </select>
                            </div>
                            <div class="row">
                                <label for="theme">Theme</label>
                            </div>
                            <div class="row">
                                <select class="selectpicker" id="theme" data-width="75%">
                                    <optgroup label="Bright">
                                        <option value="github">GitHub</option>
                                        <option value="solarized_light">Solarized Light</option>
                                        <option value="xcode">XCode</option>
                                    </optgroup>
                                    <optgroup label="Dark">
                                        <option value="chaos" selected="selected">Chaos</option>
                                        <option value="monokai">Monokai</option>
                                        <option value="pastel_on_dark">Pastel on Dark</option>
                                        <option value="solarized_dark">Solarized Dark</option>
                                    </optgroup>
                                </select>

                            </div>
                            <div class="row">
                                <label for="font-family">Font Family</label>
                            </div>
                            <div class="row">
                                <select class="selectpicker" id="font-family" data-width="75%">
                                    <option value="arial">Arial</option>
                                    <option value="consolas" selected="selected">Consolas</option>
                                    <option value="courier">Courier</option>
                                </select>
                            </div>
                            <div class="row">
                                <label for="font-size">Font Size</label>
                            </div>
                            <div class="row">
                                <select class="selectpicker" id="font-size" data-width="75%">
                                    <option>12</option>
                                    <option>14</option>
                                    <option>16</option>
                                    <option>18</option>
                                    <option selected="selected">20</option>
                                    <option>22</option>
                                    <option>24</option>
                                    <option>28</option>
                                    <option>34</option>
                                    <option>40</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label><input id="show-invisibles" type="checkbox" value="" checked="checked">&nbsp&nbspShow Invisibles</label>
                                </div>
                                <div class="checkbox">
                                    <label><input id="wrap-text" type="checkbox" value="" checked="checked">&nbsp&nbspWrap Text</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of setting panel -->

    <!-- interface modal view, display when click `Interface` button -->
    <div id="modal-large" class="modal fade interface-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>Interface Menu</b><small>&nbsp;&nbsp;&nbsp;&nbsp;( Site {{ company }} )</small></h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="height:100%;">
                        <div id="interface-tree-list" class="col-md-5" style="height:100%;overflow-y: scroll">
                            <div id="interface-tree">
                                <ul class="jstree-container-ul jstree-children">
                                    <li role="treeitem" class="jstree-node jstree-leaf">
                                        <i class="jstree-icon jstree-ocl"></i>
                                        <a id="interface-temp" class="jstree-anchor" href="#"><i class="jstree-icon jstree-themeicon"></i>Loading ...</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="interface-window" class="col-md-7" style="height:100%">
                            <h4 id="interface-note" style="font-weight: bold"></h4>
                            <h4 id="interface-type" style="font-weight: bold; display: none">/</h4>
                            <button id="interface-title" style="font-size: 18px; display: none">/</button>
                            <!-- interface collection table1 for xplan collection items -->
                            <div class="row" id="interface-table-row" style="height:30vh">
                                <div class="col-md-6" style="display:none;height:100%" id="interface-xplan-table1-head">
                                    <table class="table table-scroll left-column-table" style="height:100px">
                                        <thead>
                                            <tr>
                                                <th id="interface-xplan-table1-title"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="interface-xplan-table1" style="overflow-y: auto">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6" style="display:none;height:100%" id="interface-xplan-table2-head">
                                    <table class="table table-scroll left-column-table" style="height:100px">
                                        <thead>
                                            <tr>
                                                <th id="interface-xplan-table2-title"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="interface-xplan-table2" style="overflow-y: auto">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-11" style="display:none;height:100%" id="interface-group-table-head">
                                    <table class="table table-scroll left-column-table" style="height:100px">
                                        <thead>
                                            <tr>
                                                <th id="interface-group-table-title"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="interface-group-table" style="overflow-y: auto">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <h4 id="interface-entity" style="font-weight: bold; display: none">Applicable Entities</h4>
                            <div class="checkbox" id="interface-individual" style="display: none">
                                <label><input type="checkbox">&nbsp&nbspClient & Partner</label>
                            </div>
                            <div class="checkbox" id="interface-trust" style="display: none">
                                <label><input type="checkbox">&nbsp&nbspTrust</label>
                            </div>
                            <div class="checkbox" id="interface-superfund" style="display: none">
                                <label><input type="checkbox">&nbsp&nbspSuperfund</label>
                            </div>
                            <div class="checkbox" id="interface-company" style="display: none">
                                <label><input type="checkbox">&nbsp&nbspCompany</label>
                            </div>
                            <div class="checkbox" id="interface-partnership" style="display: none">
                                <label><input type="checkbox">&nbsp&nbspPartnership</label>
                            </div>
                            <br>
                            <h4 id="interface-suggestion-title" style="font-weight: bold; display: none">/</h4>
                            <p id="interface-suggestion-body" style="font-size: 16px; display: none">/</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of interface view -->

    <div class="row" style="height: 94vh">
    <div id="progress"></div>
        <!-- left panel column -->
        <div class="col-md-4" style="height: 99%">

            <!-- search bar row -->
            <div class="row" style="margin-top: -9px">
                <div class="col-md-9">
                    <div class="input-group">
                        <input id="search-field" type="text" class="form-control" placeholder="What do you need?">
                        <span class="input-group-btn">
                            <button id="search-button" class="btn btn-info" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <button class="btn btn-danger" id="interface" data-toggle="modal" data-target=".interface-modal" style="float: right; width: 80%">Interface Menu</button>
                    </div>
                </div>
            </div>
            <!-- end of search bar row -->

            <!-- choose variable row -->
            <div class="row" style="margin-top: -15px">
                <br>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax">Group</label>
                    </div>
                    <div class="row">
                        <select id="group-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax">Sub-Group</label>
                    </div>
                    <div class="row">
                        <select id="subgroup-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax">Variable</label>
                    </div>
                    <div class="row">
                        <select id="variable-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
            </div>
            <!-- end of choose variable row -->

            <!-- variable information table row -->
            <div class="row" style="height: 32vh">
                <!-- Variable Table -->
                <div class="col-md-12" style="height: 100%">
                    <table class="table table-scroll left-column-table" style="height: 100%">
                        <tbody id="variable-selector-table" style="overflow-y: auto;">
                            <tr>
                                <td class="col-md-2" style="color: #009688"><b><i>Variable</i></b></td>
                                <td class="col-md-10" style="font-family:Consolas"><button id="var-variable" style="border:none">/</button></td>
                            </tr>
                            <tr>
                                <td class="col-md-2" style="color: #009688"><b><i>Usage</i></b></td>
                                <td class="col-md-10" style="font-family:Consolas"><button id="var-usage" style="border:none">/</button></td>
                            </tr>
                            <tr>
                                <td class="col-md-2" style="color: #009688"><b><i>Type</i></b></td>
                                <td class="col-md-10" style="font-family:Consolas"><button id="var-type" style="border:none">/</button></td>
                            </tr>
                            <tr>
                                <td id="choice-type" class="col-md-2" style="color: #009688"><b><i>Choice(s)</i></b></td>
                                <td class="col-md-10">

                                    <!-- Multi Choice list table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th id="choice-value-title" class="col-md-5" style="color:#009688;font-style:italic;padding:2px">Value</th>
                                                <th id="choice-text-title" class="col-md-7" style="color:#009688;font-style:italic;padding:2px">Text</th>
                                            </tr>
                                        </thead>
                                        <tbody id="multi-choice-table">
                                            <tr>
                                                <td class="col-md-5" style="padding:2px;font-family:Consolas">/</td>
                                                <td class="col-md-7" style="padding:2px;">/</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of multi choice list table -->

                                </td>
                            </tr>
                        </tbody>
                        <thead id="variable-search-table-head" style="display:none">
                            <tr>
                                <th id="choice-value-title" class="col-md-3" style="font-size:15px;padding:5px;"><i>Group</i></th>
                                <th id="choice-text-title" class="col-md-4" style="font-size:15px;padding:5px;"><i>Sub-Group</i></th>
                                <th id="choice-text-title" class="col-md-5" style="font-size:15px;padding:5px;"><i>Search Result</i></th>
                            </tr>
                        </thead>
                        <tbody id="variable-search-table" style="display:none; overflow-y: auto; height: 88%">
                            <tr><td class="col-md-3">/</td><td class="col-md-3">/</td><td class="col-md-6">/</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of variable information table -->

            <!-- pick snippet row -->
            <div class="row">
                <div class="row" style="padding-top: 8px">
                    <div class="col-md-5 selection-field">
                            <label for="syntax" style="font-size: 15px">Code Snippet Group</label>
                    </div>
                    <div class="col-md-5 selection-field">
                            <label for="syntax" style="font-size: 15px">Code Snippet Scenario</label>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 selection-field">
                        <select id="snippet-group-selector" class="selectpicker" data-size="15" data-width="100%" data-live-search="true">
                        </select>
                    </div>
                    <div class="col-md-5 selection-field">
                        <select id="snippet-scenario-selector" class="selectpicker" data-size="15" data-width="100%" data-live-search="true">

                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" id="edit-snippet" style="width: 100%">Edit</button>
                    </div>
                </div>
            </div>
            <!-- end of pick snippet row -->

            <!-- snippet code editor row -->
            <div class="row" style="height: 43%">
                <div class="col-md-12" style="height: 100%">
                    <div class="row" style="height: 100%; padding-left: 15px">
                        <div id="snippet-section" style="height: 100%"></div>
                    </div>
                </div>
            </div>
            <!-- end of snippet code editor row -->
        </div>

        <!-- right column -->
        <div class="col-md-8" style="height: 99%">
            <div class="row" style="height: 100%">
                <div class="col-md-12" style="height: 100%">
                    <div id="code-section" style="height: 100%"></div>
                </div>
            </div>
        </div>
        <!-- end of right column -->

    </div>
{% endblock %}

{% block page_script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jstree/jstree.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/yeti/search_bar.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/yeti/initialize_group_subgroup_variable.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/yeti/initialize_code_snippet.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/yeti/initialize_interface.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/yeti/update_interface.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        var show_invisibles = true;
        var wrap_text = true;
        var initial_syntax = $('#syntax option:selected').val();
        var initial_theme = $('#theme option:selected').val();
        var initial_font_size = $('#font-size option:selected').val();
        var initial_font_family = $('#font-family option:selected').val();
        var code_section = ace.edit("code-section");
        var snippet_section = ace.edit("snippet-section");
        code_section.setTheme("ace/theme/" + initial_theme);
        code_section.session.setMode("ace/mode/" + initial_syntax);
        code_section.setOption("showInvisibles", show_invisibles);
        code_section.setOption("fontFamily", initial_font_family);
        code_section.setOption("fontSize", parseInt(initial_font_size));
        code_section.getSession().setUseWrapMode(wrap_text);
        code_section.setShowPrintMargin(false);
        code_section.setBehavioursEnabled(true);
        snippet_section.setTheme("ace/theme/" + initial_theme);
        snippet_section.session.setMode("ace/mode/" + initial_syntax);
        snippet_section.setOption("showInvisibles", show_invisibles);
        snippet_section.setOption("fontFamily", initial_font_family);
        snippet_section.setOption("fontSize", 16);
        snippet_section.getSession().setUseWrapMode(true);
        snippet_section.setShowPrintMargin(false);
        snippet_section.setBehavioursEnabled(true);
        // get selected code: code_section.getSelectedText()

        $('#subgroup-selector').prop('disabled', true);
        $('#variable-selector').prop('disabled', true);
        $('#snippet-scenario-selector').prop('disabled', true);

        $(document).ready(function() {

            function send_for_formatting(sent_info) {
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(sent_info),
                    type: 'POST',
                    url: '/code/code_formatting',
                    dataType: 'json',
                    success: function(data, status, request) {
                        if (data.code) {
                            code_section.setValue(data.code);
                        }
                        else if (data.judge_result) {
                            $('#overlay').fadeOut();
                            judge_result = data.judge_result;
                            if (!judge_result.passed) {
                                /* judge not passed */
                                error_start = judge_result.error_start;
                                error_end = judge_result.error_end;
                                spelling = judge_result.spelling;
                                spelling_last = judge_result.spelling_last;
                                message = "Error between &lt;line [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + error_start[0] + "</span>] position <span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + error_start[1] + "</span>&gt;" +
                                          " and &lt;line [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" +  error_end[0] + "</span>] position <span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + error_end[1] + "</span>&gt;. " +
                                          "\nCurrent spelling &lt;<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + spelling + "</span>&gt;, last processed spelling &lt;<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + spelling_last + "</span>&gt;. ";
                                if (judge_result.analysis) {
                                    analysis_message = "";
                                    if (judge_result.analysis === "end") {
                                        analysis_message = "The [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">end</span>] tag on line [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + error_start[0] + "</span>] does not match any condition / loop.";
                                    }
                                    else if (judge_result.analysis === 'condition') {
                                        analysis_message = "The condition / loop on line [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">" + error_start[0] + "</span>] might not be closed with an [<span style=\"font-family:courier;font-size:18px;font-weight:bold\">end</span>] tag properly.";

                                    }
                                    message += analysis_message;
                                }

                                $.notify({
                                        icon: 'glyphicon glyphicon-remove-sign',
                                        title: "Judge Failed: ",
                                        message: message
                                    },
                                    {
                                        placement:{align: 'left'},
                                        timer: 0,
                                        type: 'failed',
                                        animate: {enter: 'animated fadeInLeft', exit: 'animated fadeOutLeft'},
                                        offset: {
                                            x: 8,
                                            y: 51
                                        }
                                    }
                                );
                            }
                            else {
                                /* judge passed */
                                $.notify({
                                        icon: 'glyphicon glyphicon-ok-sign',
                                        title: "Judge Passed: ",
                                        message: "The code should have no syntax error."
                                    },
                                    {
                                        placement:{align: 'left'},
                                        type: 'passed',
                                        animate: {enter: 'animated fadeInLeft', exit: 'animated fadeOutLeft'},
                                        offset: {
                                            x: 8,
                                            y: 51
                                        }
                                    }
                                );
                            }
                        }
                    },
                    error: function() {
                        alert('Unexpected error in sending code content');
                    }
                });
            }

            function save_config() {
                sent_info = {
                    code: code_section.getValue(),
                    theme: $('#theme').val(),
                    font: $('#font-family').val(),
                    font_size: parseInt($('#font-size').val()),
                    show_i: $('#show-invisibles').prop('checked'),
                    wrap_t: $('#wrap-text').prop('checked')
                };

                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(sent_info),
                    type: 'POST',
                    url: '/code/save_config',
                    dataType: 'json',
                    success: function (data, status, request) {},
                    error: function() {
                        alert('Unexpected error in saving configuration');
                    }
                });
            }

            function load_config() {
                $.ajax({
                    type: 'GET',
                    url: '/code/load_config',
                    dataType: 'json',
                    success: function (data, status, request) {
                        // set code
                        if (data.code !== undefined) {
                            code_section.setValue(data.code);
                        }
                        // set theme
                        if (data.theme !== undefined) {
                            code_section.setTheme("ace/theme/" + data.theme);
                            snippet_section.setTheme("ace/theme/" + data.theme);
                            $('#theme').selectpicker('val', data.theme);
                        }
                        //set font
                        if (data.font !== undefined) {
                            code_section.setOption("fontFamily", data.font);
                            snippet_section.setOption("fontFamily", data.font);
                            $('#font-family').selectpicker('val', data.font);
                        }
                        //set font-size
                        if (data.font_size !== undefined) {
                            code_section.setOption("fontSize", data.font_size);
                            $('#font-size').selectpicker('val', data.font_size);
                        }
                        //set show invisible
                        if (data.show_i !== undefined) {
                            code_section.setOption("showInvisibles", data.show_i);
                            snippet_section.setOption("showInvisibles", data.show_i);
                            if (data.show_i === true) {
                                $('#show-invisibles').attr('checked', 'checked');
                            }
                            else {
                                $('#show-invisibles').removeAttr('checked');
                            }
                        }
                        //set wrap text
                        if (data.wrap_t !== undefined) {
                            code_section.getSession().setUseWrapMode(data.wrap_t);
                            if (data.wrap_t === true) {
                                $('#wrap-text').attr('checked', 'checked');
                            }
                            else {
                                $('#wrap-text').removeAttr('checked');
                            }
                        }
                    },
                    error: function() {
                        alert('Unexpected error in loading configuration');
                    }
                });
            }

            function click_and_send(message) {
                code = code_section.getValue();
                if (code) {
                    var sent_info = {
                        message: message,
                        code: code
                    };
                    send_for_formatting(sent_info);
                    if (message === 'judge') {
                        $('#overlay').fadeIn();
                    }
                }
            }

            // https://stackoverflow.com/questions/22581345/click-button-copy-to-clipboard-using-jquery
            function copy_to_clipboard(elem) {
                // create hidden text element, if it doesn't already exist
                var targetId = "_hiddenCopyText_";
                var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
                var origSelectionStart, origSelectionEnd;
                if (isInput) {
                    // can just use the original source element for the selection and copy
                    target = elem;
                    origSelectionStart = elem.selectionStart;
                    origSelectionEnd = elem.selectionEnd;
                } else {
                    // must use a temporary form element for the selection and copy
                    target = document.getElementById(targetId);
                    if (!target) {
                        var target = document.createElement("textarea");
                        target.style.position = "absolute";
                        target.style.left = "-9999px";
                        target.style.top = "0";
                        target.id = targetId;
                        document.body.appendChild(target);
                    }
                    target.textContent = elem.textContent;
                }
                // select the content
                var currentFocus = document.activeElement;
                target.focus();
                target.setSelectionRange(0, target.value.length);

                // copy the selection
                var succeed;
                try {
                      succeed = document.execCommand("copy");
                } catch(e) {
                    succeed = false;
                }
                // restore original focus
                if (currentFocus && typeof currentFocus.focus === "function") {
                    currentFocus.focus();
                }

                if (isInput) {
                    // restore prior selection
                    elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                } else {
                    // clear temporary content
                    target.textContent = "";
                }
                return succeed;
            }

            load_config();
            // right panel
            // judge button
            $('#judge').on('click', function(){
                click_and_send('judge');
            });
            // indent button
            $('#indent').on('click', function(){
                click_and_send('indent')
            });
            // dedent button
            $('#dedent').on('click', function(){
                click_and_send('dedent')
            });
            // format button
            $('#format').on('click', function(){
                click_and_send('format')
            });

            // client button
            $('#client').on('click', function(){
                click_and_send('client')
            });
            // partner button
            $('#partner').on('click', function(){
                click_and_send('partner')
            });
            // joint button
            $('#joint').on('click', function(){
                click_and_send('joint')
            });
            // trust button
            $('#trust').on('click', function(){
                click_and_send('trust')
            });
            // superfund button
            $('#superfund').on('click', function(){
                click_and_send('superfund')
            });
            // company button
            $('#company').on('click', function(){
                click_and_send('company')
            });
            // partnership button
            $('#partnership').on('click', function(){
                click_and_send('partnership')
            });

            // syntax dropdown
            $('#syntax').on('change', function(){
                var value = $('#syntax').val();
                code_section.session.setMode("ace/mode/" + value);
                snippet_section.session.setMode("ace/mode/" + value);
            });
            // theme dropdown
            $('#theme').on('change', function(){
                var value = $('#theme').val();
                code_section.setTheme("ace/theme/" + value);
                snippet_section.setTheme("ace/theme/" + value);
            });
            // font dropdown
            $('#font-family').on('change', function(){
                var value = $('#font-family').val();
                code_section.setOption("fontFamily", value);
                snippet_section.setOption("fontFamily", value);
            });
            // font size dropdown
            $('#font-size').on('change', function(){
                code_section.setOption("fontSize", parseInt($('#font-size').val()));
            });
            // show invisibles tick
            $('#show-invisibles').click(function() {
                show_invisibles = this.checked;
                if(show_invisibles) {
                    code_section.setOption("showInvisibles", true);
                    snippet_section.setOption("showInvisibles", true);
                }
                else {
                    code_section.setOption("showInvisibles", false);
                    snippet_section.setOption("showInvisibles", false);
                }
            });
            // wrap text tick
            $('#wrap-text').click(function() {
                wrap_text = this.checked;
                code_section.getSession().setUseWrapMode(wrap_text);
            });

            // display subgroup when select a group
            $('#group-selector').on('change', function(){
                $('#subgroup-selector').prop('disabled', false);
                $('#variable-selector').prop('disabled', false);
                var group_var = $('#group-selector option:selected').val();
                subgroup_initialization(group_var);
            });
            // display variable when select a subgroup
            $('#subgroup-selector').on('change', function(){
                var subgroup_id = $('#subgroup-selector option:selected').val();
                variable_initialization(subgroup_id, local_var_cache);
            });
            // update table when a variable is selected
            $('#variable-selector').on('change', function(){
                $('#variable-search-table').css('display', 'none');
                $('#variable-search-table-head').css('display', 'none');
                $('#variable-selector-table').css('display', '');
                var var_detail = local_var_cache[$('#variable-selector option:selected').val()];
                $('#var-variable').text($('#variable-selector option:selected').val());
                $('#var-usage').text(var_detail[0]);
                $('#var-type').text(var_detail[1]);
                var multi_choice_table = $('#multi-choice-table');
                multi_choice_table.empty();
                if (var_detail[2] && (Object.keys(var_detail[2]).length)) {
                    $('#choice-value-title').text('Value');
                    $('#choice-text-title').text('Text');
                    for (index in var_detail[2]) {
                        multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">' + String(var_detail[2][index][0]) + '</td><td class="col-md-7">' + var_detail[2][index][1] + '</td></tr>');
                    }
                }
                else {
                    multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">/</td><td class="col-md-7">/</td></tr>');
                }
            });

            // copy content to browser clipboard when clicked on var-name, var-type, var-usage
            $('#var-usage').click(function() {
                if ($('#var-usage').text() !== '/') {
                    copy_to_clipboard(document.getElementById("var-usage"));
                }
            });
            $('#var-variable').click(function() {
                if ($('#var-variable').text() !== '/') {
                    copy_to_clipboard(document.getElementById("var-variable"));
                }
            });
            $('#var-type').click(function() {
                if ($('#var-type').text() !== '/') {
                    copy_to_clipboard(document.getElementById("var-type"));
                }
            });

            // snippet group is selected
            $('#snippet-group-selector').on('change', function() {
                var selector = $('#snippet-scenario-selector');
                var group_id = $('#snippet-group-selector option:selected').val();
                if (group_id !== '/') {
                    $('#snippet-scenario-selector').prop('disabled', false);
                    snippet_scenario_initialization(group_id);
                }
                else {
                    selector.empty();
                    selector.selectpicker('refresh');
                    selector.prop('disabled', true);
                    snippet_section.setValue('');
                }
            });
            // snippet scenario is selected
            $('#snippet-scenario-selector').on('change', function() {
                snippet_section.setValue(local_scenario_cache[$('#snippet-scenario-selector').val()]);
            });
            // edit snippet button is clicked
            $('#edit-snippet').on('click', function() {
                var group_val =$('#snippet-group-selector').val();
                var scenario_val = $('#snippet-scenario-selector').val();
                if (group_val !== '/' && group_val !== null) {
                    location.replace('edit_snippet/' + group_val + '/' + scenario_val);
                }
            });

            // initialize interface menu view
            initialize_interface();

            // click on interface menu
            $('#interface-tree').on("select_node.jstree", function (e, data) {
                var id = data.node.id;
                var text = data.node.text;
                initialize_interface(id, text);
            });

            // save current user env before a refresh
            window.onbeforeunload = function(event)
            {
                save_config();
            };

        });
    </script>
{% endblock %}
