
{% extends "base.html" %}

{% block title %}YeTi OJ{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
{% endblock %}

{% block wide_content %}
    <div class="row" style="height: 92vh">
        <!-- left panel column -->
        <div class="col-md-4" style="height: 99%">

            <!-- search bar row -->
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group">
                        <input id="search-field" type="text" class="form-control" placeholder="Need something?">
                        <span class="input-group-btn"><button id="search-button" class="btn btn-success" type="button">Search</button></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <button class="btn btn-danger" id="interface" data-toggle="modal" data-target=".bs-example-modal-lg" data-keyboard="false" data-backdrop="static" style="float: right; width: 60%">Interface</button>
                    </div>
                </div>
            </div>
            <!-- end of search bar row -->

            <!-- interface view, display when click `Interface` button -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="color: #ff8000">Interface</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>fdsafsdf</p>






                                </div>
                                <div class="col-md-8">
                                    <p>fdsafsdf</p>








                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of interface view -->

            <!-- choose variable row -->
            <div class="row">
                <br>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax" style="font-size: 15px">Group</label>
                    </div>
                    <div class="row">
                        <select id="group-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax" style="font-size: 15px">Sub-Group</label>
                    </div>
                    <div class="row">
                        <select id="subgroup-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
                <div class="col-md-4 selection-field">
                    <div class="row">
                        <label for="syntax" style="font-size: 15px">Variable</label>
                    </div>
                    <div class="row">
                        <select id="variable-selector" class="selectpicker" data-size="20" data-width="100%" data-live-search="true"></select>
                    </div>
                </div>
            </div>
            <!-- end of choose variable row -->

            <!-- variable information table row -->
            <div class="row" style="height: 32vh;padding-top: 15px">
                <!-- Variable Table -->
                <div class="col-md-12" style="height: 100%">
                    <table class="table table-scroll left-column-table" style="height: 100%">
                        <tbody id="variable-selector-table">
                            <tr>
                                <td class="col-md-2" style="font-family:Arial"><b><i>Variable</i></b></td>
                                <td id="var-variable" class="col-md-10" style="font-family:Consolas">/</td>
                            </tr>
                            <tr>
                                <td class="col-md-2" style="font-family:Arial"><b><i>Usage</i></b></td>
                                <td id="var-usage" class="col-md-10" style="font-family:Consolas">/</td>
                            </tr>
                            <tr>
                                <td class="col-md-2" style="font-family:Arial"><b><i>Type</i></b></td>
                                <td id="var-type" class="col-md-10" style="font-family:Consolas">/</td>
                            </tr>
                            <tr>
                                <td id="choice-type" class="col-md-2" style="font-family:Arial"><b><i>Choice(s)</i></b></td>
                                <td class="col-md-10">
                                    <!-- Multi Choice table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th id="choice-value-title" class="col-md-5" style="font-family:Arial"><i>Value</i></th>
                                                <th id="choice-text-title" class="col-md-7" style="font-family:Arial"><i>Text</i></th>
                                            </tr>
                                        </thead>
                                        <tbody id="multi-choice-table">
                                            <tr>
                                                <td class="col-md-5" style="font-family:Consolas">/</td>
                                                <td class="col-md-7">/</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <thead id="variable-search-table-head" style="display:none">
                            <tr>
                                <th id="choice-value-title" class="col-md-3" style="font-family:Arial;font-size:15px"><i>Group</i></th>
                                <th id="choice-text-title" class="col-md-3" style="font-family:Arial;font-size:15px"><i>Sub-Group</i></th>
                                <th id="choice-text-title" class="col-md-6" style="font-family:Arial;font-size:15px"><i>Variable (Search Result)</i></th>
                            </tr>
                        </thead>
                        <tbody id="variable-search-table" style="display:none; height: 88%">
                            <tr><td class="col-md-3">/</td><td class="col-md-3" style="font-family:Arial">/</td><td class="col-md-6" style="font-family:Arial">/</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of variable information table -->

            <!-- pick snippet row -->
            <div class="row" style="padding-top: 10px">
                <div class="row">
                    <div class="col-md-5 selection-field">
                            <label for="syntax" style="font-size: 15px">Code Snippet Group</label>
                    </div>
                    <div class="col-md-5 selection-field">
                            <label for="syntax" style="font-size: 15px">Code Snippet Scenario</label>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 selection-field">
                        <select id="snippet-group-selector" class="selectpicker" data-size="15" data-width="100%" data-live-search="true">
                        </select>
                    </div>
                    <div class="col-md-5 selection-field">
                        <select id="snippet-scenario-selector" class="selectpicker" data-size="15" data-width="100%" data-live-search="true">

                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" id="edit-snippet" style="width: 100%">Edit</button>
                    </div>
                </div>
            </div>
            <!-- end of pick snippet row -->

            <!-- snippet code editor row -->
            <div class="row" style="height: 42%">
                <div class="col-md-12" style="height: 100%">
                    <br>
                    <div class="row" style="height: 100%; padding-left: 15px">
                        <div id="snippet-section" style="height: 100%"></div>
                    </div>
                </div>
            </div>
            <!-- end of snippet code editor row -->
        </div>

        <!-- coding column -->
        <div class="col-md-8" style="height: 99%">
            <div class="row" style="height: 100%">
                <div class="col-md-11" style="height: 100%">
                    <div id="code-section" style="height: 100%"></div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <button class="btn btn-warning" id="judge">Judge</button>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <p><b>Format Code</b></p>
                        <div class="btn-group-vertical" style="width: 85%">
                            <button id="indent" type="button" class="btn btn-info">Indent</button>
                            <button id="dedent" type="button" class="btn btn-success">Dedent</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <p><b>Change Entity</b></p>
                        <div class="btn-group-vertical">
                            <button id="client" type="button" class="btn btn-default">Client</button>
                            <button id="partner" type="button" class="btn btn-default">Partner</button>
                            <button id="partner" type="button" class="btn btn-default">Joint</button>
                            <button id="trust" type="button" class="btn btn-default">Trust</button>
                            <button id="superfund" type="button" class="btn btn-default">Superfund</button>
                            <button id="company" type="button" class="btn btn-default">Company</button>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <button class="btn btn-danger" id="setting" data-toggle="modal" data-target=".bs-setting-modal-sm">Setting</button>
                    </div>

                    <!-- setting panel -->
                    <div class="modal fade bs-setting-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel" style="color: #ff8000">Editor Settings</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <br>
                                                <label for="syntax">Syntax</label>
                                            </div>
                                            <div class="row">
                                                <select class="selectpicker" id="syntax" data-width="75%">
                                                    <option value="python" selected="selected">Python</option>
                                                    <option value="html">HTML</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <label for="theme">Theme</label>
                                            </div>
                                            <div class="row">
                                                <select class="selectpicker" id="theme" data-width="75%">
                                                    <optgroup label="Bright">
                                                        <option value="github">GitHub</option>
                                                        <option value="solarized_light">Solarized Light</option>
                                                        <option value="xcode">XCode</option>
                                                    </optgroup>
                                                    <optgroup label="Dark">
                                                        <option value="chaos" selected="selected">Chaos</option>
                                                        <option value="monokai">Monokai</option>
                                                        <option value="pastel_on_dark">Pastel on Dark</option>
                                                        <option value="solarized_dark">Solarized Dark</option>
                                                    </optgroup>
                                                </select>

                                            </div>
                                            <div class="row">
                                                <label for="font-family">Font Family</label>
                                            </div>
                                            <div class="row">
                                                <select class="selectpicker" id="font-family" data-width="75%">
                                                    <option value="arial">Arial</option>
                                                    <option value="consolas" selected="selected">Consolas</option>
                                                    <option value="courier">Courier</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <label for="font-size">Font Size</label>
                                            </div>
                                            <div class="row">
                                                <select class="selectpicker" id="font-size" data-width="75%">
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option selected="selected">16</option>
                                                    <option>18</option>
                                                    <option>20</option>
                                                    <option>24</option>
                                                    <option>30</option>
                                                </select>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="checkbox">
                                                    <label><input id="show-invisibles" type="checkbox" value="">Show Invisibles</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input id="wrap-text" type="checkbox" value="">Wrap Text</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input id="save-session" type="checkbox" value="">Save Session & Setting</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of setting panel -->

                </div>
            </div>
        </div>
        <!-- end of coding column -->

    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        var save_session = true;
        var show_invisibles = false;
        var wrap_text = false;
        var initial_syntax = $('#syntax option:selected').val();
        var initial_theme = $('#theme option:selected').val();
        var initial_font_size = $('#font-size option:selected').val();
        var initial_font_family = $('#font-family option:selected').val();
        var code_section = ace.edit("code-section");
        var snippet_section = ace.edit("snippet-section");
        code_section.setTheme("ace/theme/" + initial_theme);
        code_section.session.setMode("ace/mode/" + initial_syntax);
        code_section.setOption("showInvisibles", show_invisibles);
        code_section.setOption("fontFamily", initial_font_family);
        code_section.setOption("fontSize", parseInt(initial_font_size));
        code_section.getSession().setUseWrapMode(wrap_text);
        snippet_section.setTheme("ace/theme/" + initial_theme);
        snippet_section.session.setMode("ace/mode/" + initial_syntax);
        snippet_section.setOption("showInvisibles", show_invisibles);
        snippet_section.setOption("fontFamily", initial_font_family);
        snippet_section.setOption("fontSize", 14);
        snippet_section.getSession().setUseWrapMode(true);
        // get selected code: code_section.getSelectedText()

        $('#subgroup-selector').prop('disabled', true);
        $('#variable-selector').prop('disabled', true);
        $('#snippet-scenario-selector').prop('disabled', true);

        $(document).ready(function() {

            function send_for_formatting(sent_info){
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(sent_info),
                    type: 'POST',
                    url: '/code/code_formatting',
                    dataType: 'json',
                    success: function(data, status, request) {
                        code_section.setValue(data.code);
                    },
                    error: function() {
                        alert('Unexpected error in sending code text');
                    }
                });
            }

            // right panel
            // judge button
            $('#judge').on('click', function(){
                var sent_info = {
                    message: 'judge',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // indent button
            $('#indent').on('click', function(){
                var sent_info = {
                    message: 'indent',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // dedent button
            $('#dedent').on('click', function(){
                var sent_info = {
                    message: 'dedent',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });

            // client button
            $('#client').on('click', function(){
                var sent_info = {
                    message: 'client',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // partner button
            $('#partner').on('click', function(){
                var sent_info = {
                    message: 'partner',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // trust button
            $('#trust').on('click', function(){
                var sent_info = {
                    message: 'trust',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // superfund button
            $('#superfund').on('click', function(){
                var sent_info = {
                    message: 'superfund',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });
            // company button
            $('#company').on('click', function(){
                var sent_info = {
                    message: 'company',
                    code: code_section.getValue()
                };
                send_for_formatting(sent_info);
            });

            // syntax dropdown
            $('#syntax').on('change', function(){
                code_section.session.setMode("ace/mode/" + $('#syntax').val());
                snippet_section.session.setMode("ace/mode/" + $('#syntax').val());
            });
            // theme dropdown
            $('#theme').on('change', function(){
                code_section.setTheme("ace/theme/" + $('#theme').val());
                snippet_section.setTheme("ace/theme/" + $('#theme').val());
            });
            // font dropdown
            $('#font-family').on('change', function(){
                code_section.setOption("fontFamily", $('#font-family').val());
                snippet_section.setOption("fontFamily", $('#font-family').val());
            });
            // dont size dropdown
            $('#font-size').on('change', function(){
                code_section.setOption("fontSize", parseInt($('#font-size').val()));
            });
            // show invisibles tick
            $('#show-invisibles').click(function() {
                show_invisibles = this.checked;
                if(show_invisibles) {
                    code_section.setOption("showInvisibles", true);
                    snippet_section.setOption("showInvisibles", true);
                }
                else {
                    code_section.setOption("showInvisibles", false);
                    snippet_section.setOption("showInvisibles", false);
                }
            });
            // wrap text tick
            $('#wrap-text').click(function() {
                wrap_text = this.checked;
                if(wrap_text) {
                    code_section.getSession().setUseWrapMode(wrap_text);
                }
                else {
                    code_section.getSession().setUseWrapMode(wrap_text);
                }
            });
            // save session tick
            $('#save-session').click(function() {
                save_session = this.checked;
                if(save_session) {
                    alert('session saved (test)')
                }
                else {
                    alert('save session unticked (test)')
                }
            });

            // left panel
            // search bar
            var local_search_cache = {};
            $('#search-button').click(function() {
                $('#variable-search-table').css('display', '');
                $('#variable-search-table-head').css('display', '');
                $('#variable-selector-table').css('display', 'none');
                var variable_table_search = $('#variable-search-table');
                variable_table_search.empty();
                variable_table_search.append('<tr><td class="col-md-3" style="font-family:Arial;font-size:15px">/</td><td class="col-md-3" style="font-family:Arial;font-size:15px">/</td><td class="col-md-6" style="font-family:Arial;color:#8DB9CB">Searching ...</td></tr>');
                var pattern = $('#search-field').val();
                if (pattern) {
                    $.ajax({
                        type: 'GET',
                        url: '/code/acquire_search/' + pattern,
                        dataType: 'json',
                        success: function (data, status, request) {
                            var search_result = data.search_result;
                            if (search_result.length == 0) {
                                variable_table_search.empty();
                                variable_table_search.append('<tr><td class="col-md-3" style="font-family:Arial;font-size:15px">/</td><td class="col-md-3" style="font-family:Arial;font-size:15px">/</td><td class="col-md-6" style="font-family:Arial;color:#8DB9CB">(No Search Result)</td></tr>');
                            }
                            else {
                                variable_table_search.empty();
                                local_search_cache = {};
                                var id = 0;
                                for (obj in search_result) {
                                    ++id;
                                    var group_var = search_result[obj][0];
                                    var group_name = search_result[obj][1];
                                    var subgroup_id = search_result[obj][2];
                                    var subgroup = search_result[obj][3];
                                    var var_var = search_result[obj][4];
                                    var var_name = search_result[obj][5];
                                    variable_table_search.append('<tr class="x" id="search-result' + String(id) + '"><td class="col-md-3" style="font-family:Arial;font-size:15px">' + group_name + '</td><td class="col-md-3" style="font-family:Arial;font-size:15px">' + subgroup + '</td><td class="col-md-6" style="font-family:Arial;color:#8DB9CB">' + var_name + '</td></tr>');
                                    local_search_cache[id] = [group_var, subgroup_id, var_var]
                                }
                            }

                        },
                        error: function () {
                            alert('Unexpected error in searching context');
                        }
                    });
                }
            });

            // click on search result
            $('#variable-search-table').on('click','.x',function(event){
                // get table's row id, replace all leading non-digits with nothing
                var result_row_id = $(event.currentTarget).attr('id').replace( /^\D+/g, '');
                var subgroup_id = local_search_cache[result_row_id][1];
                var var_var = local_search_cache[result_row_id][2];
                sent_info = {
                    subgroup_id : subgroup_id,
                    var_var : var_var
                };
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(sent_info),
                    type: 'POST',
                    url: '/code/acquire_search_result',
                    dataType: 'json',
                    success: function(data, status, request) {
                        var variable = data.variable;
                        $('#variable-search-table').css('display', 'none');
                        $('#variable-search-table-head').css('display', 'none');
                        $('#variable-selector-table').css('display', '');
                        $('#var-variable').text(var_var);
                        $('#var-usage').text(variable[0]);
                        $('#var-type').text(variable[1]);
                        var multi_choice_table = $('#multi-choice-table');
                        multi_choice_table.empty();
                        if (variable[2] && (Object.keys(variable[2]).length)) {
                            $('#choice-value-title').text('Value');
                            $('#choice-text-title').text('Text');
                            for (index in variable[2]) {
                                multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">' + String(variable[2][index][0]) + '</td><td class="col-md-7">' + variable[2][index][1] + '</td></tr>');
                            }
                        }
                        else {
                            multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">/</td><td class="col-md-7">/</td></tr>');
                        }
                    },
                    error: function() {
                        alert('Unexpected error in sending code text');
                    }
                });
            });

            /* when page is loaded AJAX send GET to a route requesting a full list of Groups,
               and in which 'Entity' is selected by default, loaded at the very beginning
            */
            // group - subgroup - variable
            // initialize the group selector at very beginning
            var local_var_cache = {};
            $.ajax({
                type: 'GET',
                url: '/code/acquire_group',
                dataType: 'json',
                success: function(data, status, request) {
                    var groups = data.group;
                    var group_selector = $('#group-selector');
                    var flag = 1;
                    for (obj in groups) {
                        // loop in each object pair ({key: value}) from JSON
                        for (key in groups[obj]) {
                            // loop in key - value pair of each object
                            var group_var = key;
                            var group_name = groups[obj][key];
                            if (flag) {
                                group_selector.append('<option value="' + group_var + '" selected="selected">' + group_name + '</option>');
                                flag = 0;
                            }
                            else {
                                group_selector.append('<option value="' + group_var + '">' + group_name + '</option>');
                            }
                        }
                    }
                    group_selector.selectpicker('refresh');
                },
                error: function() {
                    alert('Unexpected error in group selector');
                }
            });

            function variable_initialization(subgroup_id, local_var_cache) {
                $.ajax({
                    type: 'GET',
                    url: '/code/acquire_variable/' + subgroup_id,
                    dataType: 'json',
                    success: function(data, status, request) {
                        var variables = data.variable;
                        var variable_selector = $('#variable-selector');
                        variable_selector.empty();
                        var flag = 1;
                        if (typeof variables[0] === 'undefined') {
                            $('#variable-selector-table').css('display', '');
                            $('#var-variable').text('/');
                            $('#var-usage').text('/');
                            $('#var-type').text('/');
                        }
                        for (obj in variables) {
                            for (key in variables[obj]) {
                                var variable_var = key;
                                var variable_detail = variables[obj][key];
                                local_var_cache[variable_var] = [variable_detail[1], variable_detail[2], variable_detail[3]];
                                // variable_detail == ["Variable Name", "$entity.usage", "Type", "Multi (null or list)"]
                                if (flag) {
                                    variable_selector.append('<option value="' + variable_var + '" selected="selected">' + variable_detail[0] + '</option>');
                                    $('#variable-search-table').css('display', 'none');
                                    $('#variable-search-table-head').css('display', 'none');
                                    $('#variable-selector-table').css('display', '');
                                    $('#var-variable').text(variable_var);
                                    $('#var-usage').text(variable_detail[1]);
                                    $('#var-type').text(variable_detail[2]);
                                    var multi_choice_table = $('#multi-choice-table');
                                    multi_choice_table.empty();
                                    if (variable_detail[3] && (Object.keys(variable_detail[3]).length)) {
                                        $('#choice-value-title').text('Value');
                                        $('#choice-text-title').text('Text');
                                        for (index in variable_detail[3]) {
                                            multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">' + String(variable_detail[3][index][0]) + '</td><td class="col-md-7">' + variable_detail[3][index][1] + '</td></tr>');
                                        }
                                    }
                                    else {
                                        multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">/</td><td class="col-md-7">/</td></tr>');
                                    }
                                    flag = 0;
                                }
                                else {
                                    variable_selector.append('<option value="' + variable_var + '">' + variable_detail[0] + '</option>');
                                }
                            }
                        }
                        variable_selector.selectpicker('refresh');
                    },
                    error: function() {
                        alert('Unexpected error in variable selector');
                    }
                });
            }

            function subgroup_initialization(group_var) {
                $.ajax({
                    type: 'GET',
                    url: '/code/acquire_subgroup/' + group_var,
                    dataType: 'json',
                    success: function(data, status, request) {
                        var subgroups = data.subgroup;
                        var subgroup_selector = $('#subgroup-selector');
                        var variable_selector = $('#variable-selector');
                        subgroup_selector.empty();
                        variable_selector.empty();
                        var flag = 1;
                        for (obj in subgroups) {
                            for (key in subgroups[obj]) {
                                var subgroup_id = key;
                                var subgroup_name = subgroups[obj][key];
                                if (flag) {
                                    subgroup_selector.append('<option value="' + subgroup_id + '" selected="selected">' + subgroup_name + '</option>');
                                    variable_initialization(subgroup_id, local_var_cache);
                                    flag = 0
                                }
                                else {
                                    subgroup_selector.append('<option value="' + subgroup_id + '">' + subgroup_name + '</option>');
                                }
                            }
                        }
                        subgroup_selector.selectpicker('refresh');
                        variable_selector.selectpicker('refresh');
                    },
                    error: function() {
                        alert('Unexpected error in subgroup selector');
                    }
                });
            }

            // display subgroup when select a group
            $('#group-selector').on('change', function(){
                $('#subgroup-selector').prop('disabled', false);
                $('#variable-selector').prop('disabled', false);
                var group_var = $('#group-selector option:selected').val();
                subgroup_initialization(group_var);
            });
            // display variable when select a subgroup
            $('#subgroup-selector').on('change', function(){
                var subgroup_id = $('#subgroup-selector option:selected').val();
                variable_initialization(subgroup_id, local_var_cache);
            });
            // update table when a variable is selected
            $('#variable-selector').on('change', function(){
                $('#variable-search-table').css('display', 'none');
                $('#variable-search-table-head').css('display', 'none');
                $('#variable-selector-table').css('display', '');
                var var_detail = local_var_cache[$('#variable-selector option:selected').val()];
                $('#var-variable').text($('#variable-selector option:selected').val());
                $('#var-usage').text(var_detail[0]);
                $('#var-type').text(var_detail[1]);
                var multi_choice_table = $('#multi-choice-table');
                multi_choice_table.empty();
                if (var_detail[2] && (Object.keys(var_detail[2]).length)) {
                    $('#choice-value-title').text('Value');
                    $('#choice-text-title').text('Text');
                    for (index in var_detail[2]) {
                        multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">' + String(var_detail[2][index][0]) + '</td><td class="col-md-7">' + var_detail[2][index][1] + '</td></tr>');
                    }
                }
                else {
                    multi_choice_table.append('<tr><td class="col-md-5" style="font-family:Consolas">/</td><td class="col-md-7">/</td></tr>');
                }
            });

            // code snippet group - snippet scenario
            // initialize the snippet dropdown window
            var local_scenario_cache = {};
            $.ajax({
                type: 'GET',
                url: '/acquire_snippet_group',
                dataType: 'json',
                success: function(data, status, request) {
                    var groups = data.group;
                    var snippet_group_selector = $('#snippet-group-selector');
                    var flag = 1;
                    for (obj in groups) {
                        // loop in each object pair ({id: group}) from JSON
                        for (key in groups[obj]) {
                            // loop in key - value pair of each object
                            var group_id = key;
                            var group_name = groups[obj][key];
                            if (flag) {
                                snippet_group_selector.append('<option value="/" selected="selected">/</option>');
                                snippet_group_selector.append('<option value="' + group_id + '">' + group_name + '</option>');
                                flag = 0;
                            }
                            else {
                                snippet_group_selector.append('<option value="' + group_id + '">' + group_name + '</option>');
                            }
                        }
                    }
                    snippet_group_selector.selectpicker('refresh');
                },
                error: function() {
                    alert('Unexpected error in snippet group selector');
                }
            });

            function snippet_scenario_initialization(group_id) {
                local_scenario_cache = {};
                $.ajax({
                    type: 'GET',
                    url: '/acquire_snippet_scenario/' + group_id,
                    dataType: 'json',
                    success: function(data, status, request) {
                        var scenarios = data.scenario;
                        var snippet_scenario_selector = $('#snippet-scenario-selector');
                        snippet_scenario_selector.empty();
                        var flag = 1;
                        for (obj in scenarios) {
                            for (key in scenarios[obj]) {
                                console.log(key)
                                var scenario_id = key;
                                var scenario_detail = scenarios[obj][key];
                                local_scenario_cache[scenario_id] = scenario_detail[1];
                                if (flag) {
                                    snippet_scenario_selector.append('<option value="' + scenario_id + '">' + scenario_detail[0] + '</option>');
                                    snippet_section.setValue(scenario_detail[1]);
                                    flag = 0
                                }
                                else {
                                    snippet_scenario_selector.append('<option value="' + scenario_id + '">' + scenario_detail[0] + '</option>');
                                }
                            }
                        }
                        snippet_scenario_selector.selectpicker('refresh');
                    },
                    error: function() {
                        alert('Unexpected error in subgroup selector');
                    }
                });
            }

            $('#snippet-group-selector').on('change', function() {
                var group_id = $('#snippet-group-selector option:selected').val();
                if (group_id != '/') {
                    $('#snippet-scenario-selector').prop('disabled', false);
                    snippet_scenario_initialization(group_id);
                }
                else {
                    $('#snippet-scenario-selector').empty();
                    $('#snippet-scenario-selector').selectpicker('refresh');
                    $('#snippet-scenario-selector').prop('disabled', true);
                    snippet_section.setValue('');
                }
            });
            $('#snippet-scenario-selector').on('change', function() {
                snippet_section.setValue(local_scenario_cache[$('#snippet-scenario-selector').val()]);
            });
            $('#edit-snippet').on('click', function() {
                var group_val =$('#snippet-group-selector').val();
                var scenario_val = $('#snippet-scenario-selector').val();
                if (group_val != '/' && group_val != null) {
                    location.replace('edit_snippet/' + group_val + '/' + scenario_val);
                }
            });
        });

    </script>
{% endblock %}
