
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static', filename='js/jquery.js', _external=True) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        $.material.init();
        var save_session = true;
        var show_invisibles = true;
        var wrap_text = true;
        var initial_syntax = $('#syntax option:selected').val();
        var initial_theme = $('#theme option:selected').val();
        var initial_font_size = $('#font-size option:selected').val();
        var initial_font_family = $('#font-family option:selected').val();
        var code_section = ace.edit("code-section");
        var snippet_section = ace.edit("snippet-section");
        code_section.setTheme("ace/theme/" + initial_theme);
        code_section.session.setMode("ace/mode/" + initial_syntax);
        code_section.setOption("showInvisibles", show_invisibles);
        code_section.setOption("fontFamily", initial_font_family);
        code_section.setOption("fontSize", parseInt(initial_font_size));
        code_section.getSession().setUseWrapMode(wrap_text);
        code_section.setShowPrintMargin(false);
        snippet_section.setTheme("ace/theme/" + initial_theme);
        snippet_section.session.setMode("ace/mode/" + initial_syntax);
        snippet_section.setOption("showInvisibles", show_invisibles);
        snippet_section.setOption("fontFamily", initial_font_family);
        snippet_section.setOption("fontSize", 16);
        snippet_section.getSession().setUseWrapMode(true);
        snippet_section.setShowPrintMargin(false);
        // get selected code: code_section.getSelectedText()

        $('#subgroup-selector').prop('disabled', true);
        $('#variable-selector').prop('disabled', true);
        $('#snippet-scenario-selector').prop('disabled', true);
    </script>
    {% block page_script %}{% endblock %}
{% endblock %}






