{% extends "base.html" %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block narrow_content %}
<button class="btn btn-default" id="test">Test</button>
{% endblock %}


{% block page_script %}
<script>
$(document).ready(function() {
    function hide_notification() {
        var m = $('#notification');
        m.modal('hide');
    }

    function show_confirmation(title, body, back_color, button_text, button_type) {
        var m = $('#notification');
        var m_content = $('#notification-content');
        var m_title = $('#notification-title');
        var m_body = $('#notification-body');
        var m_btn2 = $('#notification-btn2');

        if (title !== undefined) {
            m_title.text(title);
        }
        if (body !== undefined) {
            m_body.text(body);
        }
        if (back_color !== undefined) {
            m_content.css('background-color', back_color);
        }
        if (button_text !== undefined) {
            m_btn2.text(button_text);
        }
        if (button_type !== undefined) {
            m_btn2.removeClass("btn-default btn-warning btn-success btn-info btn-danger").addClass(button_type);
        }
        m.modal('show');
    }

    function get_confirm(callback) {
        var m_btn1 = $('#notification-btn1');
        var m_btn2 = $('#notification-btn2');
        m_btn1.click(function() {
            hide_notification();
            callback(false);
        });
        m_btn2.click(function() {
            hide_notification();
            callback(true);
        });
    }



    $("#test").on("click", function() {
        show_confirmation(
            'Confirm Deletion',
            'Are you sure? A deletion cannot be undone.',
            '#eadbdb',
            'Delete',
            'btn-danger'
        );
    });

    get_confirm(function(result) {
        if (result) {
            $("#test").remove();
        }
    })


});
</script>
{% endblock %}






